# Environnement virtuel
venv/
.venv/

# Fichiers PyCharm / IntelliJ
.idea/

# Python
__pycache__/
*.py[cod]
*.pyc

# Ignore test
tests/

# Ignore base de données (TinyDB)
data/players/*.json
data/tournaments/*.json


